<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="shamsa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <shamsa.Properties.Settings>
            <setting name="matn" serializeAs="String">
                <value>مَا قَطَعتُ رَجائِی مِنکَ
هرگز رشته امیــدم از تو قطع نـمی شود</value>
            </setting>
            <setting name="ftop" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="sup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isstartsmall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isfirst" serializeAs="String">
                <value>True</value>
            </setting>
        </shamsa.Properties.Settings>
    </userSettings>
</configuration>